<DOCTYPE! html>
<html ng-app="resApp">
 <head>
	<title>Disney Parks</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css">
  	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
  	<script src="js/bootstrap.js"></script>
  	<script src="js/angular.min.js"></script>
  	<script src="js/app.js"></script>
  	<script src="js/controllers.js"></script>
    <script src="js/test.js"></script>
</head>
<body>
	<div ng-include="'partials/navbar.html'"></div>
	<div class="container" ng-controller="ResListCtrl">
		<div class="row">
			<div class="col-md-2">
				Search: <input ng-model="query">
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-md-10">
				<ul ng-repeat="reservation in reservations | filter:query">
					<li><a href="#">{{reservation.firstName}} {{reservation.lastName}}</a></li>
					<p>{{reservation.resort}}</p>
				</ul>
			</div>
		</div>
	</div>
	<hr>
	<div class="container" ng-controller="JSTestCtrl">
		<form ng-submit="submit()" ng-controller="JSTestCtrl">
			<div class="row">
				<div class="col-md-2">
					Search: <input type="text" ng-model="text" name="text" />
				</div>
				<div class="col-md-2">
					<input type="submit" id="submit" value="Submit" />
				</div>
			</div>
			<br>
			<div class="row">
				<div class-"col-md-2">
					<ul>
					 <ol><a href="#" onClick="functionOne();">Top Text</a></ol>
					 <ol><a href="javascript:functionTwo();">Bottom Text</a></ol>
					</ul>
				</div>
			</div>
		</form>
	</div>
</body>
</html>